<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="roxo">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="roxo" routerLink="/registro"><b>criar conta</b></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="https://th.bing.com/th/id/R.500add68aa13da25f88adb0a5d2146aa?rik=AUbpMfNjVdrDCQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_127104.png&ehk=9X3tFr14PUyNYkANTkwTEgKetFsNlXR%2bGNGQSExZToE%3d&risl=&pid=ImgRaw&r=0"/>
  </div>

  <ion-card>
    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Email</strong></ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Senha</strong></ion-label>
      <ion-input type="password" placeholder=""></ion-input>
    </ion-item>

    <div class="links">
      <a href="#" color="roxo">Esqueceu sua senha?</a>
    </div>
<br>
    <ion-button expand="block" color="roxo">Entrar</ion-button>
  </ion-card>

</ion-content>
