<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Forms</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forms</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item routerLink="/login"><b>Login</b></ion-item>
  <ion-item routerLink="/registro"><b>Registro</b></ion-item>
  <ion-item routerLink="/cadastro"><b>Cadastro</b></ion-item>


</ion-content>
