<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="roxo">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="roxo">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Registro</h1>
    <img src="https://th.bing.com/th/id/R.500add68aa13da25f88adb0a5d2146aa?rik=AUbpMfNjVdrDCQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_127104.png&ehk=9X3tFr14PUyNYkANTkwTEgKetFsNlXR%2bGNGQSExZToE%3d&risl=&pid=ImgRaw&r=0"/>
  </div>

  <ion-card>
    <form [formGroup]="formRegistro">
    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Nome</strong></ion-label>
      <ion-input placeholder="" formControlName="nome"></ion-input>
      <ng-container *ngFor="let erro of mensagens.nome">
        <span class="msg-erro"
        *ngIf="formRegistro.get('nome').hasError(erro.tipo) && (formRegistro.get('nome').dirty || formRegistro.get('nome').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark"><strong>CPF</strong></ion-label>
      <ion-input type="number" formControlName="cpf"></ion-input>
      <ng-container *ngFor="let erro of mensagens.cpf">
        <span class="msg-erro"
        *ngIf="formRegistro.get('cpf').hasError(erro.tipo) && (formRegistro.get('cpf').dirty || formRegistro.get('cpf').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Email</strong></ion-label>
      <ion-input placeholder="" formControlName="email"></ion-input>
      <ng-container *ngFor="let erro of mensagens.email">
        <span class="msg-erro"
        *ngIf="formRegistro.get('email').hasError(erro.tipo) && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Senha</strong></ion-label>
      <ion-input type="password" placeholder="" formControlName="senha"></ion-input>
      <ng-container *ngFor="let erro of mensagens.senha">
        <span class="msg-erro"
        *ngIf="formRegistro.get('senha').hasError(erro.tipo) && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark"><strong>Confirmar senha</strong></ion-label>
      <ion-input type="password" placeholder="" formControlName="confirmaSenha"></ion-input>
      <ng-container *ngFor="let erro of mensagens.confirmaSenha">
        <span class="msg-erro"
        *ngIf="formRegistro.get('confirmaSenha').hasError(erro.tipo) && (formRegistro.get('confirmaSenha').dirty || formRegistro.get('confirmaSenha').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-button expand="block" color="roxo" (click)="salvarRegistro()">Salvar</ion-button>
    <ion-button expand="block" color="roxo">Voltar</ion-button>
  </form>
  </ion-card>

</ion-content>
